@import url(nreset.css);
@media (max-width: 850px) {
  #nav-bar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #70757a;
    background-color: #f2f2f2;
    padding: 0 1.25em;
    flex-wrap: wrap;
  }
  #footer-text {
    order: -1;
  }
}
@media (max-width: 450px) {
  #nav-left {
    display: none !important;
  }
  #sign-in {
    white-space: nowrap;
  }
  #nav-bar-top a {
    margin-top: 0;
  }
  #nav-bar-bottom {
    white-space: nowrap;
  }
  a {
    padding: 0 !important;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  display: block;
  text-decoration: none;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  padding: 0.5em;
  margin: 0.5em;
  color: black;
}
a:hover {
  text-decoration: underline;
}
#page-container {
}
#nav-bar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-left,
#nav-right {
  display: flex;
  padding: 0 1.25em;
  align-items: center;
}
#nav-left a,
#nav-right a {
  padding: 0;
}
#apps-nav {
  text-decoration: none;
}
#apps {
  display: inline-flex;
  font-size: 1.5rem;
  color: black;
  border: 0.4em solid transparent;
  margin: 0.2em;
}
#apps:hover {
  background-color: #f0f0f0;
  border: 0.4em solid #f0f0f0;
  border-radius: 50%;
  text-decoration: none;
}
#sign-in {
  background-color: #4285f4;
  color: white;
  padding: 0.7em 1.8em !important;
  border-radius: 0.3rem;
}
#google-logo-container {
    width: 92px;
    height: auto;
}
form {
    display: inline;
}
#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 570px;
  width: 100%;
  height: 1.95em;
  border: 1px solid #dfe1e5;
  border-radius: 1.5em;
  padding: 0.4em;
  margin: 0.12em;
  margin-bottom: 1.4em;
}
#search-container:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 28%);
}
#search-bar-container {
  width: 100%;
}
#search-bar {
  width: 100%;
  height: 1.9em;
  border: none;
}
#search-bar:focus {
  border-style: none;
  outline: none;
}
#mic-container {
  display: inline-block;
}
#mic-logo {
  width: 1.6em;
  height: auto;
  margin: 0.8em;
}
#search-icon,
.material-icons {
  font-size: 1.21rem;
  color: #c0c3c7;
  margin: 0.2em 0.5em;
}
#search-icon,
#mic-icon {
  padding: 0;
  margin: 0;
  font-size: 0.1rem;
}
#mic-icon a {
  margin: 0;
  padding: 0;
}
#search-button,
#search-random-button {
  border: 1px solid transparent;
  padding: 0.6em 1.18em;
  margin: 0.5em 0.22em;
  font-size: 0.9rem;
  background-color: #f8f9fa;
  font-size: 0.875rem;
}
#search-button:hover,
#search-random-button:hover {
  border: 1px solid #dfe1e5;
  border-radius: 0.3em;
  cursor: pointer;
}
#bottom-space {
  flex: 1;
}
#nav-bar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #70757a;
  background-color: #f2f2f2;
  padding: 0 1.25em;
  flex-wrap: wrap;
}
#nav-bar-bottom a {
  color: #70757a;
}
#footer-text {
  font-weight: lighter;
}
#footer-left {
  display: flex;
  min-width: 30%;
  justify-content: flex-start;
}
#footer-right {
  display: flex;
  min-width: 30%;
  justify-content: flex-end;
}